@media screen and (min-width: 768px) and (max-width : 992px) {
  .header {
    height: 500px;
  }

  .navbar {
    .txt-about-us {
      margin: auto;
      font-size: 12px;
    }
  
    .btn-sign-in {
      width: 90px;
      height: 40px;
      font-size: 12px;
      background-color: transparent;
    }
  }
  

  .paragraph {
    padding: 0;
    height: 500px;

    .img-paragraph {
      height: auto;
    }

    &:nth-child(1) {
      box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0);
    }
  
    &:nth-child(4) {
      box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0);
    }
  }
  
  .title {
    display: none;
  }
  
  .txt-first-para {
      display: none;
  }
  
  .btn-start-body {
    display: none;
  }
  
  .txt-first-para-tb {
    font-style: italic;
    color: $color-black-text;
    letter-spacing: 0.03px;
    font-size: 12pt;
    width: 100%;
  }

  .text .txt-sec-para {
    font-size: 12pt;
  }
  
  .title-tb {
  
    i {
      font-size: 30px;
      color: #444444;
      padding-right: 5px;
    }
  
    .txt-title {

      font-size: 37px;
      font-weight: 200;
      letter-spacing: 0.09px;
      color: #444444;
      line-height: 10px;
      margin-top: 20px;
    }
  }
  
  .btn-start-body-tb {
    text-transform: uppercase;
    background-image: linear-gradient(to left, #b4ec51, #429321);
    border-radius: 100pt;
    width: 150px;
    height: 50px;
    color: #ffffff;
    letter-spacing: 1.33pt;
    box-shadow: 0 2pt 4pt 0 #d8d8d8;
    border: rgba(0, 0, 0, 0.5);
  
    &:hover {
      background-image: linear-gradient(to left, #B4EC51, #d0d8dc);
    }
  }

  .btn-start-header {
    width: 150px;
    height: 50px;
  }

  .list-title {
    padding-left: 10px;
    padding-right: 10px;

    .txt {
      width: 70px;
    }
  }

  .part {
    width: 100px;
    height: 200px;

    div {
      padding-top: 0;
    }
  }

  .img-list-title {
    width: 100px;

    .icon-list-title {
      width: 100px;
      height: 100px;

      i {
        font-size: 35px;
      }
    }
  
    .txt-list-title {
      width: 44px;
      height: 44px;
    }
  }

  .txt-line p {
    font-size: 12pt;
  }

  .our-customer {
    height: 420px;

    p:first-child {
      font-size: 30pt;
    }
  }
  .list-customer {
    padding-left: 15px;
    padding-right: 15px;

    .customers {
      img {
        width: 80px;
        height: 80px;
      }

      p {
        padding-top: 15px;
      }
    }
  }
  
  .description-customer {
    margin-top: -30px;

    p {
      font-size: 12pt;
      width: 600px;
    }

    i {
      font-size: 60px;
    }
  }

  .pagination {
    width: 80px;

    div {
      width: 10px;
      height: 10px;
    }
  }

  .txt-footer-mb {
    display: none;
  }

  .footer-col {
    padding: 0;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 400px;
  }

  .img-hapoerp {
    margin-top: 20px;
  }

  .menu-header {
    min-width: 300px;
    padding-top: 60px;

    .img-icon {
      width: 22pt;
      height: 22pt;

      p {
        font-size: 18pt;
      }
  
      i {
        font-size: 25px;
      }
    }
  }

  .navbar {
    .txt-about-us {
      margin: auto;
      font-size: 12px;
    }
  
    .btn-sign-in {
      width: 90px;
      height: 40px;
      font-size: 12px;
    }
  }
  .paragraph {
    padding: 0;
    height: 720px;
  }
  
  .title {
    display: none;
  }
  
  .txt-first-para {
      display: none;
  }
  
  .btn-start-body {
    display: none;
  }
  
  .txt-first-para-tb {
    font-style: italic;
    color: $color-black-text;
    letter-spacing: 0.03px;
    font-size: 10pt;
    width: 100%;
  }

  .txt-sec-para {
    font-size: 10pt;
  }
  
  .title-tb {
  
    i {
      font-size: 30px;
      color: #444444;
      padding-right: 5px;
    }
  
    .txt-title {

      font-size: 37px;
      font-weight: 200;
      letter-spacing: 0.09px;
      color: #444444;
      line-height: 10px;
      margin-top: 20px;
    }
  }
  
  .btn-start-body-tb {
    text-transform: uppercase;
    background-image: linear-gradient(to left, #b4ec51, #429321);
    border-radius: 100pt;
    width: 150px;
    height: 50px;
    color: #ffffff;
    letter-spacing: 1.33pt;
    box-shadow: 0 2pt 4pt 0 #d8d8d8;
    border: rgba(0, 0, 0, 0.5);
  
    &:hover {
      background-image: linear-gradient(to left, #B4EC51, #d0d8dc);
    }
  }

  .btn-start-header {
    width: 150px;
    height: 50px;
  }

  .paragraph {

    &:nth-child(1) {
      box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0);
    }
  
    &:nth-child(4) {
      box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0);
    }
  }

  .list-title {
    padding-left: 10px;
    padding-right: 10px;
    height: 280px;
    .parts {
      
      .part {
        width: 100px;
  
        div {
          padding-top: 0;
        }
      }
    }
    .txt {
      width: 70px;
    }
  }

  .img-list-title {
    width: 100px;

    .icon-list-title {
      width: 100px;
      height: 100px;

      i {
        font-size: 35px;
      }
    }
  
    .txt-list-title {
      width: 44px;
      height: 44px;
    }
  }

  .our-customer {
    height: 500px;
  }

  .list-customer {
    padding-left: 15px;
    padding-right: 15px;

    .customers {
      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .pagination {
    padding-bottom: 10px;
    width: 80px;

    div {
      width: 10px;
      height: 10px;
    }
  }

  .description-customer {
    margin-top: -20px;
    padding-left: 15px;
    padding-right: 15px;

    p {
      font-size: 11pt;
      width: 100%;
      padding: 0;
      margin-top: -20px;
    }
      
    i {
      font-size: 60px;

      &:last-child {
        padding-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        float: right;
        margin-top: -45px;
      }
    }
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;

    .footer-list-icon {
      padding-top: 0;
      margin-top: 0;
    }

    p {
      color: $color-white-text;
      font-size: 4pt;
  
      &:nth-child(1) {
        text-transform: uppercase;
        color: $color-green;
        font-weight: 400;
        font-size: 5pt;
      }
    }

    span {
      font-size: 5pt;
    }
  }

  .img-footer {
    padding-bottom: 5px;
  }
  
  .txt-footer-pc{
    display: none;
  }
}
